.listContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.listdiv{
    padding: 20px;
    background: #ffffff98;
    box-shadow: rgba(0, 0, 0, 0.15) 3.95px 3.95px 2.6px;
}

.listdiv h3{
    margin: 0;
}

.addDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}

.addDiv p {
    margin: 5px 0 5px 0;
    font-size: 1rem;
    width: 100%;
}

.addDiv button{
    position: relative;
    right: 10%;
    width: 10%;
    background: transparent;
    padding: 3px 9px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #414141;
    border-radius: 10px;
}

.addDiv button:hover{
    background: #414141;
    color: #fff;
    border: 2px solid #414141;
}

.dbtns{
    width: 10%;
    background: transparent;
    padding: 3px 9px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #414141;
    border-radius: 10px;
    margin-right: 1%;
    margin-top: 1%;
}

.dbtns:hover{
    background: #414141;
    color: #fff;
    border: 2px solid #414141;
}

#delbtn:hover{
    background: darkred;
    color: #fff;
    border: 2px solid darkred;
}

.dropdown {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.dropdown.open {
  max-height: 500px;
  opacity: 1;
}

.dropdown h4{
    margin: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modal.open {
  opacity: 1;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.modal-backdrop.open {
  opacity: 1;
}
